@use "../../styles/globals";
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.add-board-game {
    width: 100%;
    @include flex-column;
    align-items: center;
    &__container {
        max-width: 900px;
    }
    &__listOfInputs {
        display: flex;
        flex-wrap: wrap;
        gap: 10px
    }
    &__bgName {
        @include input-styling()
    }
    &__bgMinDuration {
        @include input-styling()
    }
    &__bgMaxDuration {
        @include input-styling()
    }
    &__bgMinPlayers {
        @include input-styling()
    }
    &__bgMaxPlayers {
        @include input-styling()
    }
    &__bgDescription {
        @include input-styling();
        width: 100%;
        height: 150px;
        resize: none
    }
    &__bgCondition {
        @include input-styling();
    }

    &__button-bar {
        padding-top: $spacing-4;
        width: 100%;
        display: flex;
        justify-content: flex-end;

    }

    &__button {
        @include button-styling;
        width: 20%;
    }
    
}