//VARIABLES



// SCREEN SIZING

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;



// COLORS


$primary: #000000; 
$action: #0084FF; 
$secondary: #AFAFAF; 
$reverse-primary: #FFFFFF;  
$action-hover: #0065AD; 
$subtle-emphasis: #FAFAFA; 



// SPACING

$spacing-1: .25rem;
$spacing-2: .5rem;
$spacing-3: 1rem;
$spacing-4: 1.5rem;
$spacing-5: 2rem;
$spacing-6: 2.5rem;
$spacing-7: 3rem;
$spacing-8: 3.5rem;
$spacing-9: 4rem;
$spacing-10: 5rem;



